#src_com_app_doublecheck_com_app_doublecheckClassDiagram_1_ucd{
width: 836;
height: 896;
overflow: hidden;
background: url(src_com_app_doublecheck_com_app_doublecheckClassDiagram_1_ucd.png) top left no-repeat;
}
