#src_com_app_doublecheck_map_com_app_doublecheck_mapClassDiagram_ucd{
width: 944;
height: 709;
overflow: hidden;
background: url(src_com_app_doublecheck_map_com_app_doublecheck_mapClassDiagram_ucd.png) top left no-repeat;
}
